<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_board_comment_path(@comment.board_id, @comment) %> |
<%= link_to 'Back', board_comment_path(@comment.board_id, @comment) %>
